* {
  // border: 1px solid;
}

.subject {

  .gallery {
    // padding: 0;
  }

  .item {
    display: block;
  }

  a {
    border: none;
    padding: 0;
  }

  img {
    height: 200px;
    width: 200px;

    object-fit: cover;
  }

}
